name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
      - uses: psf/black@main
  mypy:
    runs-on: ubuntu-latest
    name: Mypy
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13.1"
      - name: Install Dependencies
        run: |
          pip install mypy types-requests types-beautifulsoup4
      - name: mypy
        run: |
          mypy --ignore-missing-imports fa_scraper/
  isort:
    runs-on: ubuntu-latest
    name: isort
    steps:
      - name: python-isort
        uses: isort/isort-action@v1.1.1
  poetry-check:
    runs-on: ubuntu-latest
    name: poetry check
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12.3"
      - uses: abatilo/actions-poetry@v4.0.0
        with:
          poetry-version: "2.0.1"
      - name: Poetry check
        run: |
          poetry check --strict
